

h1 {
    position: static;
    margin-top: 20;
    margin-left: 20;
    font-weight: bold;
    color: black; 
}

h2 {
    position: static;
    margin-left:20;
    color: black;
    font-style: italic;
}

p{
    color: black; 
}

img {
    width: 50%; /* 50% de la largeur du conteneur parent */
    
}

#instruction1{
    position: static;
    margin-left: 50;
}

#cadreZoneDepot{
    margin-left: 50;
    width: 35%;
    height: 50%;
    
    
    border: 2px solid #333; /* Largeur, style (solid, dashed, dotted, etc.) et couleur du bord */
    background-color: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadretiretZoneDepot{
    
    width: 95%;
    height: 95%;
    border-radius: 5% ;
    box-sizing: border-box;
    border: 2px dashed #5c5959; /* Largeur, style (solid, dashed, dotted, etc.) et couleur du bord */
    background-color: #dfd4d4;
    padding: 20px;
    display: grid;
    place-items: center;

    
    
}


