body{

    background-color:#d9d8d8;
}

h1 {
    background-color: #d9d8d8;
    position: static;
    margin-top: 20px; /* Ajout de l'unité px */
    margin-left: 20px; /* Ajout de l'unité px */
    font-weight: bold;
    color: black;
}

h2 {
    background-color: #d9d8d8;
    position: static;
    margin-left: 20px; /* Ajout de l'unité px */
    color: black;
    font-style: italic;
}

p {
    color: black;
}
#instruction2{
    text-align: center;
}

#zone {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ajout de l'ombre */
    background-color: #eeecec;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-right: 7%;
}

#zone1,
#zone2 {
    display: flex;
    flex-wrap: wrap;
    width: 30%; /* Chaque élément occupe 50% de la largeur du conteneur */
    box-sizing: border-box;
    display: flex; /* Ajout de cette propriété pour que les enfants soient disposés en ligne (par défaut, en colonne) */
}

img {
    width: 40%; /* Modification de la largeur de l'image pour qu'elle occupe 100% de la largeur du conteneur parent */
}

#cadreZoneDepot{
    box-sizing: border-box;
    border: 2px solid #0a0a0a;
    background-color: #aaa9a9;
    padding: 20px;
    display: grid;
    place-items: center;
}

#cadretiretZoneDepot {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    box-sizing: border-box;
    border: 2px dashed #595858;
    background-color:#dbd8d8 ;
    padding: 20px;
    display: grid;
    place-items: center;
}

/* Ajout de style pour le bouton "Choisir fichier" */
#boutonChoisirFichier {
    margin-right: 10px; /* Ajout de marge à droite pour séparer les boutons */
}

/* Ajout de style pour le bouton "Sauvegarder les changements" */
#zone2 button {
    width: 100%; /* Le bouton occupe 100% de la largeur du conteneur parent */
    margin-top: 10px; /* Ajout de marge en haut pour l'espace */
    
}
#zone1 button {
    
    margin-top: 10px;  /*Ajout de marge en haut pour l'espace */
    display: inline-block;
    
}

#zone1{
    display: flex;
    margin-left: 10%;
}

#zone2{
    margin-left: 10%;  
}


.drag-over {
    border-color: #00f; /* Couleur de la bordure lorsque survolé */
    background-color: #f0f0f0; /* Couleur de fond lorsque survolé */
}
